body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #fff;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }
}

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

.title {
  font-size: 2em;
}

@media (min-width: 768px) {
  .title {
    font-size: 1.5em;
  }
}
